<h2>Все ваши заявки</h2>
<div class="card vacancy_card" data-ng-repeat="record in records">
   <div class="card-header">
	   <h4 class="card-title text-body"> 
	   		{{record.org_unit}} / 
	   		{{record.vacancy}} / 
	   		<a href={{record.EncodedAbsUrl}} target="_blank" title="Скачать отсканированный файл PDF">
	   			<span style="color: red"><i class="far fa-file-pdf"></i></span>
	   		</a>
	   	</h4>
   </div>
   <div class="card-body">
	    <p class="card-text"><span class="font-weight-bold">Плановая дата: </span>{{record.plan_date}}</p>
	    <p class="card-text"><span class="font-weight-bold">Вид приема: </span>{{record.type_reception}}</p>
	    <p class="card-text"><span class="font-weight-bold">Количество ставок: </span>{{record.rates}}</p>
	    <p class="card-text"><span class="font-weight-bold">Источник комплектования: </span>{{record.rec_source}}</p>
   </div>
</div>